@font-face {
  font-family: 'Avenir-Black';
  src: url('fonts/AvenirLTStd-Black.otf');
}
@font-face {
  font-family: 'Avenir-Italic';
  src: url('fonts/AvenirLTStd-HeavyOblique.otf');
}

@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Regular.ttf');
}
body {
  margin: 0;
  position: relative;
}
.logo-content {
  margin-right: auto;
}

.join-queue-container {
  margin-left: auto;
}

.header-scroll {
  position: fixed;
  width: 100vw;
}

#join-queue-form {
  margin: 30px;
}

#join-queue-form input {
  display: block;
  cursor: pointer;
  border: 1px solid black;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: white;

  font-family: 'Roboto';
  font-size: 16px;
}
.logo-text {
  font-family: 'Avenir-Black';
  font-size: 20px;
}

.logo-text-container {
  margin: 30px;
}

header {
  display: flex;
  align-items: center;
  height: 20vh;
  /* background: white; */
  /* animation: header-move-up 1200ms ease-in-out forward; */
}

.home-content {
  position: absolute;
  width: 100vw;
}


.queue-container {
  display: flex;
  justify-content: center;
}






.time-background-block {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  padding-top: 10px;
  padding-bottom: 10px;
}

.timer-school-blocks {
  display: flex;
  flex-direction: row;
}

.timer-school-blocks form button {
  border: none;
  font-family: 'Roboto';
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  width: 180px;
  height: 30px;
}

#timer-other-form {

}

#timer-brown-button:focus, #timer-other-button:focus {
  outline : 0;
}

.non-active-timer {
  border: 1px solid white;
}

.timer-time {
  font-family: "Avenir-Italic";
  font-size: 50px;
  color: white;
  display: flex;
  align-items: stretch;
  flex-direction: row;
}

.timer-time div {
  margin-left: 10px;
  margin-right: 10px;
}

.timer-blocks-total {
  margin: 10px;
}



.timer-container {
  display: flex;
  justify-content: center;
}


.queue-table {
  margin: 20px;
  border-collapse: collapse;
  width: 70vw;
}

.queue-header {
  font-family: 'Avenir-Black';
}
.queue-header-elem {
  width: 23.3vw;
  padding: 10px;
}




.queue-elem-container {
  font-family: "Roboto";
  border: 1px solid black;
  text-align: center;
  height: 50px;

}

.form-background {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,.7);
  /* z-index: 2; */
  position: fixed;
  overflow: hidden;

}

.form-content-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-content-box {
  width: 300px;
  height: 400px;
  background-color: white;
  box-shadow: 0 5px 20px rgba(0,0,0,.40);
}

.form-header {
  font-family: "Roboto-Regular";
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.form-title,.form-exit {
  margin: 20px;

}

.form-divider {
  width: 250px;
  border-bottom: 1px solid black;
  margin: auto;
}

.form-body {
  display: flex;
  flex-direction: column;
}
