@font-face {
  font-family: 'Avenir-Black';
  src: url('fonts/AvenirLTStd-Black.otf');
}
@font-face {
  font-family: 'Avenir-Italic';
  src: url('fonts/AvenirLTStd-HeavyOblique.otf');
}

@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Regular.ttf');
}
body {
  margin: 0;
  position: relative;
}

.body-content {
  z-index: -1;
  position: relative;
}
.logo-content {
  margin-right: auto;
}

.join-queue-container {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header-scroll {
  position: fixed;
  width: 100vw;
}

.join-queue-form {
  margin: 30px;
}

.join-queue-form input {
  display: block;
  cursor: pointer;
  border: 1px solid black;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: black;
  color: white;
  font-family: 'Roboto';
  font-size: 16px;
}
.logo-text {
  font-family: 'Avenir-Black';
  font-size: 20px;
}

.logo-text-container {
  margin: 30px;
}

header {
  display: flex;
  align-items: center;
  height: 20vh;
  position: relative;
  z-index: -1;
  /* background: white; */
  /* animation: header-move-up 1200ms ease-in-out forward; */
}

.home-content {
  position: absolute;
  width: 100vw;
}

.stack-behind {
  z-index: -1;
}


.queue-container {
  display: flex;
  justify-content: center;
}






.time-background-block {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  padding-top: 10px;
  padding-bottom: 10px;
}

.timer-school-blocks {
  display: flex;
  flex-direction: row;
}

.timer-school-blocks form button {
  border: none;
  font-family: 'Roboto';
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  width: 180px;
  height: 30px;
}

#timer-other-form {

}

#timer-brown-button:focus, #timer-other-button:focus {
  outline : 0;
}

.non-active-timer {
  border: 1px solid white;
}

.timer-time {
  font-family: "Avenir-Italic";
  font-size: 50px;
  color: white;
  display: flex;
  align-items: stretch;
  flex-direction: row;
}

.timer-time div {
  margin-left: 10px;
  margin-right: 10px;
}

.timer-blocks-total {
  margin: 10px;
}



.timer-container {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: -1;
}


.queue-table {
  margin: 20px;
  border-collapse: collapse;
  width: 70vw;
}

.queue-header {
  font-family: 'Avenir-Black';
}
.queue-header-elem {
  width: 23.3vw;
  padding: 10px;
}




.queue-elem-container {
  font-family: "Roboto";
  border: 1px solid black;
  text-align: center;
  height: 50px;

}

.form-background {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,.7);
  z-index: 1;
  position: fixed;
  overflow: hidden;

}

.form-content-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-content-box {
  top: 80px;
  margin: auto;
  position: relative;
  z-index: 3;
  width: 550px;
  height: 550px;
  background-color: white;
  box-shadow: 0 5px 20px rgba(0,0,0,.40);
}

.form-header {
  font-family: "Roboto-Regular";
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.form-title,.form-exit {
  margin: 20px;

}

.form-divider {
  width: 500px;
  border-bottom: 1px solid black;
  margin: auto;
}

.form-body {
  display: flex;
  flex-direction: column;
}

.form-label-title {
  font-family: 'Avenir-Black';
  font-size: 13pt;

}

.form-checkbox-label {
    font-family: "Roboto-Regular";
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    position: relative;
    padding-left: 50px;
    padding-right: 15px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 40px;
    width: 80px;
    margin-left: 10px;
    border-radius: 5px;
}

/* Hide the browser's default checkbox */
.form-checkbox-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}


.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    width: 40px;
    background-color: black;
    outline: .5px solid white;
    border-radius: 5px;
}


/* On mouse-over, add a grey background color */
.form-checkbox-label:hover input ~ .checkmark {
    background-color: black;

}


/* When the checkbox is checked, add a blue background */
.form-checkbox-label input:checked ~ .checkmark {
    background-color: black;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.form-checkbox-label input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.form-checkbox-label .checkmark:after {
    left: 15px;
    top: 10px;
    width: 7px;
    height: 16px;
    border: solid #ffff;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.form-school-module {
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}



.form-body-checkbox-button-container{
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.form-email-module {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 20px;
}


#form-email-form {
  margin-left: 20px;
}


form input[type=text] {
  height: 30px;
  border: 1px solid black;
  width: 250px;
  /* border-radius: 5px; */
}

.form-cut-length-module {
  display: flex;
  align-items: center;
  margin: 20px;
}

.form-file-upload-module {
  display: flex;
  align-items: center;
  margin: 20px;
}

.form-notification-module {
  display: flex;
  align-items: center;
  margin: 20px;
}

/* body {
  background: #f2f2f2;
} */

.form-drop-down-container {
  position: relative;
  /*Don't really need this just for demo styling*/
  margin-left:20px;

}

.form-drop-down-container:after {
    content: '\f078';
    font: normal normal normal 17px/1 FontAwesome;
    color: white;
    right: 11px;
    top: 6px;
    height: 30px;
    padding: 15px 0px 0px 8px;
    border-left: 1px solid white;
    position: absolute;
    pointer-events: none;
}

/* IE11 hide native button (thanks Matt!) */
select::-ms-expand {
display: none;
}

.form-drop-down-container select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Add some styling */

  display: block;
  width: 230px;
  /* max-width: 320px; */
  height: 40px;
  float: right;
  margin: 8px 0px;
  padding: 0px 24px;
  font-size: 16px;
  line-height: 1.75;
  color: #f2f2f2;
  background-color: black;
  background-image: none;
  border: 1px solid white;
  -ms-word-break: normal;
  word-break: normal;
}

.form-exit img {
  height: 15px;
}


#form-file-upload-button {

}

#form-file-upload-form  {
  margin-left: 20px;
}

.form-submit-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#form-exit-button {
  cursor: pointer;
}

#bdw-logo {
  height: 5vh;
}

.hidden-message {
  font-family: "Roboto-Regular";
  background-color: white;
  display: inline-block;
  font-size: 10pt;
  padding: 5px;
  box-shadow: 0 5px 5px rgba(0,0,0,.15);
  position: absolute;
  float: left;
}


.hidden {
  display: none;
}

.selected {
  background-color: #e5e5e5;
}
