@font-face {
  font-family: 'Avenir-Black';
  src: url('fonts/AvenirLTStd-Black.otf');
}
@font-face {
  font-family: 'Avenir-Italic';
  src: url('fonts/AvenirLTStd-HeavyOblique.otf');
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url('fonts/Roboto-Regular.ttf');
}
